.container {
    display: flex; /* Ativa o Flexbox */
    justify-content: space-between; /* Espaço igual entre os itens */
    gap: 20px; /* Espaçamento entre as colunas */
}

.sidebar {
    width: 30%; /* Define a largura da sidebar */
    background-color: #ecf0f1;
    padding: 20px;
}

.content {
    width: 65%; /* Define a largura do conteúdo */
    background-color: #ffffff;
    padding: 20px;
}
